<div class="row m-0 text-center  gx-5 ">
  <div class="col-sm-12">
    <h2 class="text-primary">Welcome to AngularDevOps</h2>
    
    <p class="fw-bold text-muted">Select any option to proceed</p> 
  </div>
  <div class="col-sm-4 border shadow bg-body rounded mb-2 pt-2 cursorPointer">
    <div routerLink="/postlist">
      <img class="img-fluid rotate-hover" src="https://cdn-icons-png.flaticon.com/512/10819/10819704.png"/>
      <p  class="fw-bold">Post List</p>
    </div>
  </div>
  <div class="col-sm-4 border shadow bg-body rounded mb-2 pt-2 cursorPointer">
    <div routerLink="/todolist">
      <img class="img-fluid rotate-hover" src="https://cdn-icons-png.flaticon.com/512/8476/8476676.png"/>
      <p class="fw-bold">Todo List</p>
    </div>
  </div>
  <div class=" col-sm-4 border shadow bg-body rounded mb-2 pt-2 cursorPointer">
    <div routerLink="/userlist">
      <img class="img-fluid rotate-hover" src="https://cdn-icons-png.flaticon.com/512/9131/9131478.png"/>
      <p  class="fw-bold">User List</p>
    </div>
  </div>
</div>