
<div class="row m-0 text-center ">
    <div class="col-lg-2 col-md-4 col-sm-6 border shadow  bg-body rounded m-2">
        <div routerLink="/postlist">
            <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/10819/10819704.png"/>
            <p>Post List</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 border shadow bg-body rounded m-2">
        <div routerLink="/todolist">
            <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/8476/8476676.png"/>
            <p>Todo List</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 border shadow  bg-body rounded m-2">
        <div routerLink="/userlist">
            <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/9131/9131478.png"/>
            <p>User List</p>
        </div>
    </div>
  
</div>
